body {
    height: 90vh;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.randombg {
    display: grid;
    place-items: center;
	background: url('https://media.giphy.com/media/7rkjwJo6PlzxK/giphy.gif')  center;
	padding: 1rem 2rem;
	text-align: center;
	border-radius: 15px;
	width: 300px;
    height: 300px;
    border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 15px;
}

span {
	display: block;
	padding: 1rem;
	font-size: 1rem;
	font-weight: normal;
	font-family: monospace;
}
/* .item{
    width: 10px;
    height: 50vh;
    border-radius: 50%;
    position: absolute;
    display: flex;
    gap: 2px;
    background-color: #2e80b3;
} */
button#genNew {
    background-color: #2e80b3;
    width: 50%;
    padding: 12px 0;
    color: #ffffff;
    border-radius: 16px;
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 500;
    cursor: pointer;
	border: none;
}